---
---

@import "{{ site.theme }}";

.page-header {
    color: #ffff;
    background-color: #151a2f;
    background-image: linear-gradient(120deg,#03010f,#232442);
}

h1 {
    color: #151a2f;
    padding: 2em;
    text-align: center;
    vertical-align: middle;
}

h2 {
    color: #151a2f;
}

.btn {
    color: #f2a900;
}

.btn:hover {
    color: #000000;
    text-decoration: none;
    background-color: #007dba;
}

tr:nth-child(odd) {
    background-color: SeaShell;
}

a {
    color: inherit;
}
