---
---

@import "{{ site.theme }}";

.page-header {
    color: #ffff;
    background-color: #151a2f;
    background-image: linear-gradient(120deg,#03010f,#232442);
}

h1 {
    padding: 2em;
    text-align: center;
    vertical-align: middle;
}

.btn {
    color: #f2a900;
}

.btn:hover {
    color: #000000;
    text-decoration: none;
    background-color: #007dba;
}

tr:nth-child(odd) {
    background-color: SeaShell;
}

a:link {
  color: yellow;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: yellow;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: yellow;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: none;
}
