<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>

  {% if site.google_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics }}');
  </script>
  {% endif %}
  <meta charset="UTF-8">

  {% seo %}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style"
    type="text/css" crossorigin>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>

<body>

  <header class="page-header" role="banner">
    <h1
      style="background-image:url(https://scholarblogs.emory.edu/smi2021/files/2019/07/rollins_3.jpg);background-repeat:no-repeat;background-position:center"
      class="project-name">SMI 2021</h1>
    <h3 class="project-tagline">
      {% assign sorted_pages = site.html_pages | sort: "order" %}      
      {% for page in sorted_pages %}
      <a href="{{ page.url | prepend: site.relative_url }}" class="btn"> {{ page.title }}</a>
      {% endfor %}
      <!-- <a href="https://joshualukemire.github.io/SMI2021Program/docs/ses-invited.html">Invited Sessions</a>
      <a href="https://joshualukemire.github.io/SMI2021Program/docs/software_sessions/ses-software.html">&nbsp;&nbsp;Software
        Sessions</a>
      <a href="https://joshualukemire.github.io/SMI2021Program/docs/case_study_sessions/ses-case-study.html">&nbsp;&nbsp;Case-Study
        Sessions</a>
      <a href="https://joshualukemire.github.io/SMI2021Program/docs/poster_sessions/ses-poster.html">&nbsp;&nbsp;Poster
        Sessions</a> -->
    </h3>
  </header>

  <main id="content" class="main-content" role="main">
    {{ content }}

    
  </main>
</body>

</html>
