---
layout: default
---

<h2 style="color: #120659;">
  <a href="{{ page.url | prepend: site.relative_url }}">
    {{ page.order }}. Keynote Address
  </a>
</h2>

Slides from this talk can be downloaded <a href="{{ site.baseurl }}/assets/{{page.slidesname}}_slides.pdf" style="color: blue">here</a>.<br/><br/>

The video recording of this talk can be viewed <a href="{{page.youtubelink}}" style="color: blue">here</a>. <br/><br/>

{% for speaker in page.speakers %}

<img src="{{speaker.photolink}}" ><br/>


<b>{{speaker.name}}</b><br/>
  {{speaker.affil}} <br/> 
{% if speaker.email %}
Email: {{speaker.email}} <br/> 
{% endif %}
<b>Title</b>: {{speaker.title}} <br/>
<b>Abstract</b>: <br/>{{speaker.abstract}} <br/>
{% endfor %}
