---
layout: default
---

<!-- 
  <a href="{{ page.url | prepend: site.relative_url }}">
      
    </a>
-->
{% assign sorted_speakers = site.data.speaker | sort:"lastname" %}

<script>
  var myObj =  {{ sorted_speakers | json }};
</script>
  

  <h2 style="color: #120659;">
    {{ page.order }}. {{ page.title }}
    
  </h2>

The video recording of this talk can be viewed <a href="{{page.youtubelink}}" style="color: blue">here</a>. <br/><br/>

  <p>
  <b>Organizer</b>: {{page.organizer.name}} <br/> 
   {{page.organizer.affil}} <br/> 
   {% if page.organizer.email %}
   Email: {{page.organizer.email}}
   {% endif %} 
</p>
  
  
<p>
  <b>Chair</b>: {{page.chair.name}}<br/> 
  {{page.chair.affil}} <br/> 
  {% if page.chair.email %}
  Email: {{page.chair.email}}
  {% endif %} 
</p>

<h3 style="color: #120659;"> Speakers: </h3>

  {% for speaker in page.speakers %}
  <p> 
  <b>{{speaker.id}}. {{speaker.name}}</b><br/>
    {{speaker.affil}} <br/> 
  
   
  {% if speaker.email %}
  Email: {{speaker.email}} <br/> 
  {% endif %} 
  <p> <b>Title</b>: {{speaker.title}} <br/>
  {% assign speakertime_all = sorted_speakers | where: "email", speaker.email %}
  {% for st in speakertime_all %}
  <b>Time: {{ st.speakertime }}</b>
  {% endfor %} <br/>
  <b> Abstract</b>: <br/>{{speaker.abstract}} </p>
  {% endfor %}



