---
layout: default
---


  <h2>
    <a href="{{ page.url }}">
      Session {{ page.ID }}: {{ page.title }}
    </a>
  </h2>

  <p>
  <b>Organizer</b>: {{page.organizer.name}} <br/> 
   {{page.organizer.affil}} <br/> 
   {% if page.organizer.email %}
   Email: {{page.organizer.email}}
   {% endif %} 
</p>
  
  
<p>
  <b>Chair</b>: {{page.chair.name}}<br/> 
  {{page.chair.affil}} <br/> 
  {% if page.chair.email %}
  Email: {{page.chair.email}}
  {% endif %} 
</p>

<h3> Speakers: </h3>

  {% for speaker in page.speakers %}
  <p> 
  <b>{{speaker.id}}. {{speaker.name}}</b><br/>
    {{speaker.affil}} <br/> 
  {% if speaker.email %}
  Email: {{speaker.email}} <br/> 
  {% endif %} 
  <p> <b>Title</b>: {{speaker.title}} <br/>
  <b> Abstract</b>: {{speaker.abstract}} </p>
  {% endfor %}



